- @title = 'Ana sayfa'
- @this.layout = 'home'
- @this.toc = false
- @this.summary = 'Riseup, sosyal özgürlüğü ile çalışmak isteyen kişi ve gruplar için çevrim içi iletişim araçları sağlar. Kendi iletişimini güvenli ve kontrol altında tutarak demokratik alternatif ve kendi kaderini belirleme projesiyiz.'

= render 'accounts'
